:root {
	--blue: #e5f2ff;
	--yellow: #fcf87f;
	--ground: #918487;
	--green: #98e5a5;
	--tree: #8e5b61;
	--dark-tree: #634b48;
	--light-tree :#f5f6f8;
	--grey-tree :#c0afb5;

	--build-back: #d7d6d7;

	--yellow-home: #eac07f;
	--yellow-home-dark-grey: #676962;
	--yellow-home-middle-grey: #7b8076;
	--yellow-home-light-grey: #949692;
	--yellow-home-shadow: #d8af7b;
	--yellow-home-window: #b4c7e9;
	--yellow-home-door: #b9bcb3;

	--beige-home: #ccaa9e;
	--beige-home-shadow: #b69989;
	--beige-home-dark: #9a696d;
	--beige-home-middle: #977681;
	--beige-home-light: #b18296;
	--beige-home-door: #6e4f54;
	--beige-home-window: #cde0ff;

	--bottle-light: #e9d6da;
	--bottle-dark: #d2b9bc;
	--bottle-shadow: #a19597;

	--signboard-dark: #8c8e8b;
	--signboard-light: #cfcecc;

	--lamppost-light: #809199;
	--lamppost-dark: #72736d;

	--rack: #eceddf;
	--rack-shadow: #b19486;

	--red-home: #e38085;
	--red-home-shadow: #c17778;
	--red-home-dark: #9a3a46;
	--red-home-middle: #b2514b;
	--red-home-light: #cf5260;
	--red-home-door: #8f4343;
	--red-home-window: #a8cbe7;
	--red-home-blinds: #e9eeff;
	--red-home-blinds-border: #dee3f6;
	--red-home-roof: #b24f54;
	--red-home-roof-shadow: #933f3f;
	--red-home-pipe-light: #d4c9c5;
	--red-home-pipe-light-shadow: #ead8d8;
	--red-home-pipe-dark: #c8bab1;
	--red-home-pipe-shadow: #c3aeb7;

	--brown-home: #895d5a;
	--brown-home-shadow: #7a5751;
	--brown-home-dark: #5e4241;
	--brown-home-middle: #724a42;
	--brown-home-light: #7b5552;
	--brown-home-door: #6b4e48;
	--brown-home-window: #d9e4fa;
	--light-brown-home: #af9a95;
	--light-brown-home-shadow: #9d8887;
	--light-brown-home-dark: #655a5e;
	--light-brown-home-middle: #877277;
	--light-brown-home-light: #a3908c;

	--antenna: #e6d3d9;
	--antenna-border: #ac999f;

	--grey-home: #ced2c3;
	--grey-home-shadow: #bbbeb3;
	--grey-home-dark: #5b6765;
	--grey-home-middle: #728281;
	--grey-home-light: #919e97;
	--grey-home-door: #5c6667;
	--grey-home-window: #d0def9;
	--grey-home-ladder: #d5eaed;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	height: 100vh;
	display: flex;
}

.main-container {
	height: 600px;
	width: 1000px;
	min-height: 600px;
	min-width: 1000px;
	margin: auto;
	background: var(--blue);
	border-radius: 8px;
}

.active-element {
	cursor: pointer;
}

.ground {
	height: 2%;
	border-radius: 8px;
	background: var(--ground);
	z-index: 100;
}

.sun {
	position: absolute;
	top: 80px;
	left: 130px;
	height: 70px;
	width: 70px;
	border-radius: 100%;
	background: var(--yellow);
}

.cloud {
	position: absolute;
	border-radius: 40px;
	background: white;
}

.cloud:before {
	width: 30%;
    position: absolute;
    content: '';
    background: white;
    border-radius: 100%;
    top: -40%;
    left: 15%;
    height: 80%;
}

.cloud:after {
	position: absolute;
    content: '';
    background: white;
    border-radius: 100%;
    top: -60%;
    left: 36%;
    width: 50%;
    height: 100%;
}

.cloud.cloud_1 {
	top: 160px;
    left: 160px;
    width: 100px;
    height: 40px;
}

.cloud.cloud_2 {
	top: 50px;
    left: 200px;
    width: 120px;
    height: 50px;
}

.cloud.cloud_3 {
	top: 110px;
    left: 350px;
    width: 120px;
    height: 50px;
}

.cloud.cloud_4 {
	top: 220px;
    right: 150px;
    width: 80px;
    height: 30px;
}

.builds-back {
	padding: 0 20px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	align-items: end;
    display: flex;
}

.builds-back [class*="block"]:not([class*="complex-block"]) {
  background: var(--build-back);
  border-color: var(--build-back);
}

.build-back_1 {
	height: 40%;
	width: 12%;
	margin-right: 6%;
}

.build-back_1 .block_1 {
	height: 20%;
	width: 4%;
	transform: translate(700%, -100%);
}

.build-back_1 .block_2 {
	height: 20%;
	display: flex;
	align-items: end;
}

.build-back_1 .block_3 {
	height: 60%;
}

.build-back_1 .block_4 {
	width: 20%;
	height: 20%;
	bottom: -5%;
    transform: matrix(1, -0.3, 0, 2, 0, 0);
}

.build-back_1 .block_5 {
	width: 80%;
	height: 100%;
	transform: matrix(1, 0.6, 0, 2.5, 0, 0);
}

.build-back_2 {
	height: 74%;
	width: 10%;
	margin-right: 6%;
}

.build-back_2 .block_1 {
	height: 20%;
	width: 4%;
	transform: translate(500%, 0);
}

.build-back_2 .block_2 {
	height: 80%;
}

.build-back_3 {
	height: 84%;
	width: 16%;
	margin-right: 2%;
}

.build-back_3 .block_1 {
	height: 2%;
	width: 16%;
}

.build-back_3 .block_2 {
	height: 98%;
}

.build-back_4 {
	height: 50%;
	width: 12%;
	margin-right: 1%;
}

.build-back_4 .block_1 {
	height: 100%;
}

.build-back_5 {
	height: 70%;
	width: 12%;
	margin-right: 4%;
}

.build-back_5 .block_1 {
	height: 2%;
	width: 16%;
	transform: translateX(500%);
}

.build-back_5 .block_2 {
	height: 98%;
}

.build-back_6 {
	height: 76%;
	width: 18%;
}

.build-back_6 .block_1 {
	height: 20%;
	display: flex;
	align-items: end;
	justify-content: end;
}

.build-back_6 .block_2 {
	height: 80%;
}

.build-back_6 .block_3 {
	height: 20%;
	width: 4%;
	transform: translateX(-500%);
}

.build-back_6 .block_4 {
	height: 100%;
	width: 2%;
	transform: translateX(-240%);
}

.builds {
	margin: 0 10%;
	height: 98%;
	display: flex;
	align-items: end;
}

.windowsill {
	position: absolute;
	bottom: 0;
    left: -0.8em;
    right: -0.8em;
	height: 0.6em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.windowsill-block {
	width: 100%;
	height: 50%;
}

.windowsill-block:first-child {
	border-top-left-radius: 250px 100px;
	border-top-right-radius: 250px 100px;
}

.blinds {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 56%;
	border-bottom: 0.2em solid var(--red-home-blinds-border);
	background: repeating-linear-gradient(to bottom,
	var(--red-home-blinds),
	var(--red-home-blinds) 0.1em,
	var(--red-home-blinds-border) 0.1em,
	var(--red-home-blinds-border) 0.2em);
}

.floor {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.handle {
	position: absolute;
	right: 10%;
	top: 50%;
	background: var(--yellow-home);
	outline: 0.1em solid var(--yellow-home-shadow);
	height: 0.4em;
	width: 0.4em;
	border-radius: 100%;
	transform: translateY(-50%);
}

.antenna {
	position: absolute;
	bottom: 0;
	right: -1em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 100%;
	background: var(--antenna);
}

.antenna:before, .antenna:after {
	content: '';
	position: absolute;
	background: var(--antenna-border);
	opacity: 0.7;
}

.antenna:after {
	top: 50%;
	transform: translateY(-50%);
	height: 0.1em;
	width: 100%;
}

.antenna:before {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	width: 0.1em;
}

.build_1 {
	width: 18%;
	height: 50%;
}

.build_1 .window {
	height: 80%;
	width: 30%;
	border: 0.4em solid var(--yellow-home-dark-grey);
	background: var(--yellow-home-window);
}

.build_1 .window:after {
	position: absolute;
	top: 50%;
	content: '';
	height: 10%;
	width: 100%;
	background: var(--yellow-home-dark-grey);
}

.build_1 .windowsill-block {
	background: var(--yellow-home-middle-grey);
}

.build_1 .windowsill-block:first-child {
	background: var(--yellow-home-light-grey);
}

.build_1 .roof {
	height: 4%;
	width: 110%;
	transform: translateX(-5%);
	background: var(--yellow-home-dark-grey);
}

.build_1 .front {
	height: 96%;
	border-right: 0.3em solid var(--yellow-home-shadow);
	border-top: 0.3em solid var(--yellow-home-shadow);
	background: var(--yellow-home);
	display: flex;
	flex-direction: column;
}

.build_1 .door {
	height: 86%;
	width: 30%;
	outline: 0.4em solid var(--yellow-home-dark-grey);
	background: var(--yellow-home-door);
}

.build_1 .threshold {
	position: absolute;
	width: calc(100% + 0.8em);
	height: 20%;
	background: var(--yellow-home-light-grey);
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	bottom: -0.4em;
	left: -0.4em;
}

.build_1 .threshold:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 40%;
	background: var(--yellow-home-middle-grey);
	top: 50%;
	transform: translateY(-40%);
}

.build_2 {
	width: 26%;
	height: 58%;
}

.build_2 .window {
	height: 70%;
	width: 16%;
	border: 0.4em solid var(--beige-home-dark);
	background: var(--beige-home-window);
}

.build_2 .window:after {
	position: absolute;
	top: 30%;
	content: '';
	height: 10%;
	width: 100%;
	background: var(--beige-home-dark);
}

.build_2 .windowsill-block {
	background: var(--beige-home-middle);
}

.build_2 .windowsill-block:first-child {
	background: var(--beige-home-light);
}

.build_2 .roof {
	height: 14%;
	width: 100%;
	background: var(--beige-home-shadow);
}

.build_2 .roof:after, .build_2 .roof:before {
	content: '';
	position: absolute;
	background: var(--beige-home-dark);
	height: 30%;
}

.build_2 .roof:before {
	width: 116%;
	top: 0;
	left: -8%;
}

.build_2 .roof:after {
	width: 110%;
	top: 50%;
	left: -5%;
}

.build_2 .front {
	height: 86%;
	background: var(--beige-home);
	display: flex;
	flex-direction: column;
}

.build_2 .floor {
	height: 28%;
}

.build_2 .door {
	height: 86%;
	width: 16%;
	outline: 0.4em solid var(--beige-home-dark);
	background: var(--beige-home-door);
	transform: translateY(66%);
}

.build_2 .threshold {
	position: absolute;
	width: calc(100% + 0.8em);
	height: 20%;
	background: var(--beige-home-light);
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	bottom: -0.4em;
	left: -0.4em;
}

.build_2 .threshold:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 40%;
	background: var(--beige-home-middle);
	top: 50%;
	transform: translateY(-40%);
}

.bottle {
	position: absolute;
	width: 34%;
	height: 26%;
	transform: translateY(-100%);
	left: 6%;
}

.bottle .block_1 {
	background: var(--bottle-dark);
	height: 10%;
	width: 50%;
	transform: translateX(50%);
	border-top-right-radius: 20%;
	border-top-left-radius: 20%;
}

.bottle .block_2 {
	background: var(--bottle-light);
	height: 80%;
	border-radius: 10%;
}

.bottle .block_3 {
	height: 10%;
	display: flex;
	justify-content: space-between;
	padding: 0 10%;
}

.bottle .block_4, .bottle .block_4:after, .bottle .block_4:before {
	height: 0.1em;
	background: var(--bottle-dark);
	position: absolute;
	width: 100%;
	bottom: 8%;
}

.bottle .block_4:after, .bottle .block_4:before {
	position: absolute;
	content: '';
	background: var(--bottle-dark);
	width: 100%;
	height: 0.1em;
	top: -3000%;
}

.bottle .block_4:after {
	top: -2500%;
}

.bottle .block_5, .bottle .block_6 {
	width: 10%;
	background: linear-gradient(to top, var(--bottle-dark), var(--bottle-shadow));
}

.lamppost {
	position: absolute;
	height: 20vh;
	width: 1em;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lamppost .block_1 {
	height: 10%;
	width: 100%;
	background: var(--lamppost-light);
	border-radius: 100% 100% 50% 50%;
}

.lamppost .block_2 {
	height: 70%;
	width: 20%;
	background: var(--lamppost-dark);
}

.lamppost .block_3 {
	height: 20%;
	width: 60%;
	background: var(--lamppost-light);
	border-radius: 30% 30% 0 0;
}

.rack {
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 50%;
	height: 12%;
	border: 0.3em solid var(--rack);
	border-radius: 6%;
	background: linear-gradient(to top, var(--beige-home), var(--rack-shadow));
}

.rack:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: repeating-linear-gradient(to right,
	transparent,
	transparent 0.4em,
	var(--rack) 0.3em,
	var(--rack) 0.6em);
}

.signboard {
	position: absolute;
	top: 16%;
	right: -2em;
	width: 1.3em;
	border: 0.3em solid var(--signboard-light);
	border-radius: 1em;
	background: var(--signboard-dark);
	height: 30%;
	outline: 1px solid var(--signboard-dark);
	z-index: 2;
}

.signboard:after, .signboard:before {
	content: '';
	position: absolute;
	top: 10%;
	right: 1em;
	width: 0.7em;
	height: 10%;
	background: var(--signboard-dark);
}

.signboard:after {
	top: 80%;
}

.build_3 {
	width: 18%;
	height: 38%;
}

.build_3 .window {
	height: 70%;
	width: 28%;
	border: 0.4em solid var(--red-home-dark);
	background: var(--red-home-window);
}

.build_3 .windowsill-block {
	background: var(--red-home-middle);
}

.build_3 .windowsill-block:first-child {
	background: var(--red-home-light);
}

.build_3 .roof {
	height: 20%;
	background: repeating-linear-gradient(to bottom,
	var(--red-home-roof),
	var(--red-home-roof) 0.4em,
	var(--red-home-roof-shadow) 0.3em,
	var(--red-home-roof-shadow) 0.6em);
	clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}

.build_3 .pipe {
	position: absolute;
	width: 14%;
	height: 6%;
	top: 0;
	right: 26%;
	background: linear-gradient(to top, var(--red-home-pipe-dark), var(--red-home-pipe-shadow) 94%);
	transform: translateY(-100%);
}

.build_3 .pipe:after {
	content: '';
	position: absolute;
	width: 140%;
	height: 40%;
	top: -40%;
	right: -20%;
	background: var(--red-home-pipe-light);
	border-top: 0.1em solid var(--red-home-pipe-light-shadow);
	border-left: 0.1em solid var(--red-home-pipe-light-shadow);
}

.build_3 .front {
	height: 80%;
	background: var(--red-home);
	display: flex;
	flex-direction: column;
	border-right: 0.4em solid var(--red-home-shadow);
	border-top: 0.4em solid var(--red-home-shadow);
	border-left: 0.4em solid var(--red-home-shadow);
}

.build_3 .floor {
	height: 46%;
}

.build_3 .door {
	height: 86%;
	width: 24%;
	outline: 0.4em solid var(--red-home-dark);
	background: var(--red-home-door);
	transform: translateY(28%);
}

.build_4 {
	width: 12%;
	height: 46%;
}

.build_4 .window {
	height: 70%;
	width: 60%;
	border: 0.4em solid var(--grey-home-dark);
	background: var(--grey-home-window);
}

.build_4 .windowsill-block {
	background: var(--grey-home-middle);
}

.build_4 .windowsill-block:first-child {
	background: var(--grey-home-light);
}

.build_4 .shutters {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: repeating-linear-gradient(to right, transparent, transparent 0.5em, var(--grey-home-dark) 0.3em, var(--grey-home-dark) 0.77em);
}

.build_4 .front {
	height: 70%;
	background: repeating-linear-gradient(to bottom,
	var(--grey-home),
	var(--grey-home) 0.2em,
	var(--grey-home-shadow) 0.2em,
	var(--grey-home-shadow) 0.4em);
	display: flex;
	flex-direction: column;
}

.build_4 .front .floor:first-child {
	height: 70%;
}

.build_4 .front__top {
	height: 20%;
	background: var(--grey-home);
	display: flex;
	flex-direction: column;
	border-top: 0.5em solid var(--grey-home-dark);
	border-bottom: 0.5em solid var(--grey-home-dark);
}

.build_4 .roof {
	height: 10%;
	width: 100%;
	background: var(--grey-home-middle);
	clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
}

.build_4 .front__top .window {
	border-radius: 100%;
	width: 2em;
	height: 2em;
}

.build_4 .front__top .window:after {
	content: '';
	position: absolute;
	background: var(--grey-home-dark);
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0.1em;
	height: 100%;
}

.build_4 .front__top .window:before {
	content: '';
	position: absolute;
	background: var(--grey-home-dark);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 0.1em;
}

.build_4 .door {
	height: 60%;
	width: 30%;
	outline: 0.4em solid var(--grey-home-middle);
	background: var(--grey-home-door);
	transform: translateY(0%);
}

.build_4 .ladder {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 22%;
	width: 50%;
	transform: translateX(-50%);
}

.build_4 .ladder .block_1 {
	height: 70%;
	background: repeating-linear-gradient(to right,
	transparent,
	transparent 0.2em,
	var(--grey-home-ladder) 0.2em,
	var(--grey-home-ladder) 0.4em);
	border: 0.2em solid var(--grey-home-ladder);
}

.build_4 .ladder .block_2, .build_4 .ladder .block_2:after, .build_4 .ladder .block_2:before {
	background: var(--grey-home-ladder);
	width: 110%;
	height: 30%;
}

.build_4 .ladder .block_2:after, .build_4 .ladder .block_2:before {
	content: '';
	position: absolute;
	left: 0;
	top: 30%;
	height: 33%;
}

.build_4 .ladder .block_2:after {
	top: 60%;
	height: 33%;
	width: 120%;
}

.build_5 {
	width: 26%;
	height: 50%;
}

.build_5 .window {
	height: 70%;
	width: 18%;
	border: 0.4em solid var(--brown-home-dark);
	background: var(--brown-home-window);
}

.build_5 .windowsill-block {
	background: var(--brown-home-middle);
}

.build_5 .windowsill-block:first-child {
	background: var(--brown-home-light);
}

.build_5 .front {
	height: 60%;
	background: var(--brown-home);
	display: flex;
	flex-direction: column;
	border-right: 0.3em solid var(--brown-home-shadow);
	border-top: 0.3em solid var(--brown-home-shadow);
	border-left: 0.3em solid var(--brown-home-shadow);
}

.build_5 .front:before {
	content: '';
	position: absolute;
	top: calc(-0.3em - 4%);
	left: -0.3em;
	right: -0.3em;
	height: 4%;
	background: var(--brown-home-dark);
	clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
}

.build_5 .front__top {
	height: 40%;
	background: var(--light-brown-home);
	display: flex;
	flex-direction: column;
	border-top: 0.3em solid var(--light-brown-home-shadow);
	width: 90%;
	transform: translateX(5%);
}

.build_5 .front__top .floor {
	height: 100%;
}

.build_5 .front__top .window {
	border: 0.4em solid var(--light-brown-home-dark);
	height: 50%;
}

.build_5 .front__top .windowsill-block {
	background: var(--light-brown-home-middle);
}

.build_5 .front__top .windowsill-block:first-child {
	background: var(--light-brown-home-light);
}

.build_5 .front__top:before {
	content: '';
	position: absolute;
	top: calc(-0.3em - 8%);
	left: -0.3em;
	right: -0.3em;
	height: 8%;
	background: var(--light-brown-home-dark);
}

.build_5 .floor {
	height: 46%;
}

.build_5 .door {
	height: 86%;
	width: 18%;
	outline: 0.4em solid var(--brown-home-dark);
	background: var(--brown-home-door);
	transform: translateY(28%);
}

.build_5 .bottle {
	transform: translateY(-108%);
	left: auto;
	right: 10%;
}

.trees {
	display: flex;
	justify-content: space-between;
	align-items: end;
	position: absolute;
	top: 0;
	left: 2%;
	right: 2%;
	bottom: 2%;
}

.tree-container {
	width: 8%;
	height: 30%;
}

.tree__top {
	height: 30%;
	background: var(--green);
	border-radius: 30px;
}

.tree__top:after {
	position: absolute;
	content: '';
	background: var(--green);
	border-radius: 100%;
	top: -30%;
	left: 20%;
	width: 56%;
	height: 100%;
	transform: rotate(-30deg);
}

.tree__bottom {
	height: 70%;
	background: linear-gradient(to top, var(--tree), var(--dark-tree));
	width: 10%;
	margin: 0 auto;
}

.flowerbed {
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 80%;
	height: 20%;
}

.fence {
	height: 80%;
}

.fence .block_1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: var(--grey-tree);
	height: 20%;
	width: 100%;
}

.fence .block_2 {
	background: var(--grey-tree);
	height: 100%;
	width: 100%;
	background: repeating-linear-gradient(to right,
	var(--light-tree),
	var(--light-tree) 0.2em,
	transparent 0.2em,
	transparent 0.4em);
}

.tree__ground {
	height: 20%;
	background: var(--grey-tree);
}
